.input-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
  }
  
.input-container span{
    font-weight: bold;
    font-size: 1.5rem;
    color: var(--input);
  }
  
.input-container input{
    width: 300px;
    margin: 0 auto;
    color: var(--black);
    border: 1px solid #8758ff;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    outline: none;
  }

.input-container input:focus{
  border-color: #8758ff;
}