header{
    width: 100%;
    color: var(--black);
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: var(--yellow);
}

header .logo {
    width: 100px;
}
  
header h1{
    font-size: 1.5rem;
}
