.weather-container {
  background-color: var(--yellow);
  height: 100dvh;

}

.weather-container .show-weather{
  max-width: 100%;
  height: 100%;
  margin: 20px auto;
  padding: 20px;
  background-color: var(--white);
  border-radius: 8px;
  text-align: center;
}

.show-weather .button-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  width: 100%;
  justify-content: center;
}

.button-container .weather-info{
  background-color: var(--black);
  width: clamp(270px, 50%, 500px);
  height: 30%;
  color: var(--white);
  margin-top: 20px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

