.history-container{
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    margin-top: .8rem;
    color: var(--black);
    width: max(50%, 200px);
    border: 2px solid var(--black);
    gap: 20px;
    padding: 15px 20px;
}

ul {
    display: flex;
    flex-direction: column;
    max-height: 250px;
    overflow-y: auto;
    padding: 10px;
    list-style-type: none;
    width: 100%;
    gap: 10px;

}

ul li{
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid black;
    padding: 5px;


}

ul button{
    background-color: transparent;
    border: none;
    transition: 0.3s ease-in-out;
}

ul button:hover{
    color: red;
}