.weather-container {
  background-color: black;

}

.logo {
  width: 100px;
}

header{
  color: white;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 20px;
}

.show-weather{
  max-width: 50%;
  margin: 20px auto;
  padding: 20px;
  background-color: red;
  border-radius: 8px;
  text-align: center;
}